.crop {
    display: block;
    height: 100px;
    position: relative;
    overflow: hidden;
    width: 100px;
}
.crop img {
    left: -20px; /* alter this to move left or right */
    position: absolute;
    top: -20px; /* alter this to move up or down */
}